<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.EmpDAO">

    <insert id="save" parameterType="Emp">
        insert into emp values(#{id},#{name},#{salary},#{age},#{bir},#{dept.id});
    </insert>

    <update id="update" parameterType="Emp">
        update emp set name=#{name},salary=#{salary},age=#{age},bir=#{bir},did=#{dept.id};
    </update>

    <delete id="delete" parameterType="Emp">
        delete from emp where id=#{id};
    </delete>

    <delete id="deleteDid" parameterType="Emp">
        delete from emp where did=#{did};
    </delete>

    <resultMap id="empResultMap" type="Emp">
        <id column="eid" property="id"></id>
        <result column="ename" property="name"></result>
        <result column="esalary" property="salary"></result>
        <result column="eage" property="age"></result>
        <result column="ebir" property="bir"></result>
        <association property="dept" javaType="Dept">
            <id column="did" property="id"></id>
            <result column="dname" property="name"></result>
        </association>
    </resultMap>

    <select id="findById" resultMap="empResultMap">
         select e.id eid,e.name ename,e.salary esalary,e.age eage,e.bir ebir,d.id did,d.name dname
        from emp e left join dept d on e.did=d.id
        where e.id=#{id};
    </select>

    <select id="findAll" resultMap="empResultMap">
        select e.id eid,e.name ename,e.salary esalary,e.age eage,e.bir ebir,d.id did,d.name dname
        from emp e left join dept d on e.did=d.id
        where e.did=#{did};
    </select>
</mapper>
